html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    font-family: Roboto, Noto Sans, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
}

.app-shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-bar-continer {
    top: 0;
    right: 0;
    left: 0;
}

.title-bar {
    position: relative;
}

.app-content {    
    flex-grow: 1;
    overflow-y: auto;
}

.nav-bar-continer {
    right: 0;
    bottom: 0;
    left: 0;
}

.nav-bar {
    position: relative;
}

mdui-avatar {
    color: white;
}