html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    font-family: Roboto, Noto Sans, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
}

.app-shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-bar-continer {
    top: 0;
    right: 0;
    left: 0;
}

.title-bar {
    position: relative;
}

.app-content {    
    flex-grow: 1;
    overflow-y: auto;
}

.nav-bar-continer {
    right: 0;
    bottom: 0;
    left: 0;
}

.nav-bar {
    position: relative;
}

mdui-avatar {
    color: white;
}

.hidden {
    display: none !important;
}

.pageNotice {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;
    gap: 4px;

    color: rgba(var(--mdui-color-on-surface), 38%);
}

.multi-dropdown {
    background-color: rgb(var(--mdui-color-surface-container));
    border-radius: var(--shape-corner);
    box-shadow: var(--mdui-elevation-level2);
}

.multi-dropdown mdui-menu {
    background-color: none;
    border-radius: none;
    box-shadow: none;
}